
@font-face {
    font-family: 'futura_stdmedium';
    src: url('fonts/futurastd-medium-webfont.eot');
    src: url('fonts/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurastd-medium-webfont.woff') format('woff'),
         url('fonts/futurastd-medium-webfont.ttf') format('truetype'),
         url('fonts/futurastd-medium-webfont.svg#futura_stdmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}